Bienvenue {{ annonceur.username }}, <br>
<br>
Veuillez poursuivre ce lien pour pouvoir commencer à utiliser votre compte Affariat Textile. <br>
<br>
<a href="http://affariat-textile.com/confirm/{{ annonceur.id }} ">Confirmer mon compte</a><br>
<br>
Cordialement. <br>
L'équipe de Affariat Textile.