{% include 'base.html.twig' %}
{% block body %}
    {% include 'Textiles/searchbar.html.twig' %}
    {% include 'Textiles/afficher.html.twig' %}
    {% include 'Textiles/villes.html.twig' %}

{% endblock %}
{% if produits.getTotalItemCount()!=0 %}
<form method="get" id="barreTriCateg" style="position: absolute ; margin-left: 78% ; margin-top: 223px">
    <div>
        Trier par :
        <select name="triCateg" id="triCateg" style="width: 100px; height: 30px; border-color: #ccc">
            <option value=""></option>
            <option value="prix">Prix</option>
            <option value="date_ajout">Date</option>
        </select>
    </div>
</form>
{% endif %}
<script type="text/javascript">

    document.getElementById('barreTri').style.display = 'none';
    document.getElementById('triCateg').value = '{{ tri }}';
    document.getElementById('triCateg').onchange = function () {
        document.getElementById('barreTriCateg').submit();
    }
</script>