{% include 'base.html.twig' %}
{% include 'Textiles/profil.html.twig' %}
<div class="form-control" style="width: 40%; margin-top: 150px; margin-left: 30%; margin-bottom: 100px; padding: 25px">
    <h3 style="text-align: center">Modifier votre mot de passe</h3>
    <hr>
    {{ form(form) }}
</div>